body{
   line-height: 2.0;/* Set line spacing */
}


header, nav{
    margin: 10px 10px;
    padding: 10px 25px;
      /* Set padding and margin */
}
nav ul li{
    display: inline-block;
    background-color: #F5C782;
    margin: 0px 110px;
    padding: 15px 25px;
    border: 0px 40px;
    font-size: 25px;
    /* Set display, margin, padding, font-size, background-color */

}

nav a{
   text-decoration: none;
    /* Set text decoration*/
}

a:visited{
    color: #000000;
    /* Set color */

}

nav a.current{
    text-decoration-style: wavy;
    padding: 10px; 
    text-transform: uppercase;
    border-bottom: 3px none #000000;
    /* Set text decoration, transformation, and underline properties */
}


h1{
   font-family: Merriweather, Anton, 'Times New Roman', Roboto;
   font-size: 55px;
    /*Set font and font size*/

}

h2{
    font-family: Anton, 'Times New Roman', Roboto;
    font-size: 50px;
    text-align: center;
    /*Set font, font size, and alignment*/
}

h3{
    font-size: 30px;
    /*Set font size*/

}

h1, h2, h3{
    margin-top: 10px;
    /*Set margin */

}
.grid{
   display: grid;
   justify-content: centered;
   grid-template-columns: 30% 30% 30%;
  
   grid-column-start: auto;
   grid-row: ;
   background-color: #505459;
   border: 1px solid #000000;
   margin: 10px;
   column-gap: 50px;
   row-gap: 10px;
   
    /*Set width, margin, border properties, background color, and grid properties */
}

.grid div{
    background-color: #ddddd3fd;
    border: 1px solid #000000;
    padding: 50px;
    border-radius: 45px;
    text-align: left;

    /* Set border properties, padding, and background color */

}

.grid img{
    width: 90%;
    margin: 10%;
    display: grid;    /* Set width, margin, and display */
}


.grid div:nth-child(3n+1)  {
   box-shadow: 20px 0px;
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    box-shadow: -20px 0px;
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
    box-shadow: 20px 0px,  -20px 0px;
    /* Set box shadow */
}

p + p {
    text-indent: 20px;
     /* Set indentation */
  }
  
p{
    margin-top: 10px;
     /* Set margin */
}


.grid ul li{
    margin: 0px 0px 10px 8px;
    line-height: 1.0; 
    list-style-image: url("sketchbook.png");
    /* Set margin, line-spacing, list styling  */
}
